@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  background-color: #000;
}

.card {
  width: 70vw;
  height: auto;
  margin: 0 auto;
  background-color: #f8fbfe;
  border-radius: 8px;
  z-index: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card__content {
  display: flex;
  flex-direction: column;
  font-family: "poppins", robot, sans-serif;
  padding: 2rem;
}

.texto {
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.primeiro-campo {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.segundo-campo {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #555;
  outline: none;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.grafico {
  height: 300;
  width: 400;
}

@media (max-width: 525px) {
  .card {
    width: 80vw;
  }

  .texto {
    font-size: 1rem;
  }
}